<!-- Main content -->
<div class="card-header text-center">
  <a href="../../index2.html" class="h1"><b>FUNDAMNETOS DE PROGRAMACION</b></a>
</div>
<section class="content">
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-1">
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Correos electronicos</a></li>
                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Evaluaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Notas</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="activity">

                  <!-- Main content -->
                  <section class="content">

                    <!-- Default box -->
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Projects</h3>

                        
                      </div>
                      <div class="card-body p-0">
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 1%">
                                        #
                                    </th>
                                    <th style="width: 20%">
                                        No. Control
                                    </th>
                                    <th style="width: 30%">
                                        Nombre
                                    </th>
                                    <th>
                                        Aceptó creiterios
                                    </th>
                                    <th style="width: 8%" class="text-center">
                                        Fecha de aceptacion de criterios 
                                    </th>
                                    <th style="width: 20%">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        #
                                    </td>
                                    <td>
                                        <a>
                                            177O00001
                                        </a>
                                    </td>
                                    <td>
                                      <a>
                                        Fernanda Navarrete de Martinez
                                    </a>
                                    </td>
                                    <td >
                                      <i class='fa fa-check' style='color:#3a8b0e'></i>
                                    </td>
                                    <td >
                                      dd/MM/yyyy
                                    </td>
                                    
                                </tr>

                                <tr>
                                  <td>
                                      #
                                  </td>
                                  <td>
                                      <a>
                                          177O00001
                                      </a>
                                  </td>
                                  <td>
                                    <a>
                                      Fernanda Navarrete de Martinez
                                  </a>
                                  </td>
                                  <td >
                                    <i class='fa fa-check' style='color:#3a8b0e'></i>
                                  </td>
                                  <td >
                                    dd/MM/yyyy
                                  </td>
                                  
                              </tr>

                              <tr>
                                <td>
                                    #
                                </td>
                                <td>
                                    <a>
                                        177O00001
                                    </a>
                                </td>
                                <td>
                                  <a>
                                    Fernanda Navarrete de Martinez
                                </a>
                                </td>
                                <td >
                                  <i class='fa fa-times' style='color: red'></i>

                                </td>
                                <td >
                                  dd/MM/yyyy
                                </td>
                                
                            </tr>
                              
                              
                            </tbody>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                  </section>
                  <!-- /.content -->
                  

                  
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="timeline">
                  <table>
                    <thead>
                      <tr>
                          <th style="width: 1%">
                              #
                          </th>
                          <th style="width: 20%">
                              No. Control
                          </th>
                          <th style="width: 30%">
                              Nombre
                          </th>
                          <th>
                              Aceptó creiterios
                          </th>
                          <th style="width: 8%" class="text-center">
                              Fecha de aceptacion de criterios 
                          </th>
                          <th style="width: 20%">
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                        #
                    </td>
                    <td>
                        <a>
                            177O00001
                        </a>
                    </td>
                    <td>
                      <a>
                        Fernanda Navarrete de Martinez
                    </a>
                    </td>
                    <td >
                      <i class='fa fa-check' style='color:#3a8b0e'></i>
                    </td>
                    <td class="project-state">
                        <span class="badge badge-success">Success</span>
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm" href="#">
                          <i class="fas fa-times"></i>
                            
                        </a>
                        <a class="fas fa-pencil-alt">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </a>
                        <a class="btn btn-danger btn-sm" href="#">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </a>
                    </td>
                </tr>
              </tbody>
            </table>
              
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="settings">
                  <form class="form-horizontal">
                    <div class="form-group row">
                      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputName" placeholder="Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName2" placeholder="Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-danger">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>